apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ env.ingressname|default("lhc-install-ingress", true) }}
  labels:
    name: {{ env.ingresslabelname|default("lhc-install-ingress", true) }}
    namespace: {{ env.namespace|default("lhc-install-stag", true) }}
spec:
  ingressClassName: nginx
  tls:
    - hosts:
      - pshung.tk
      secretName: {{ env.secret_tls_name|default("lhc-install-secret-tls", true) }}
  rules:
  - host: pshung.tk
    http:
      paths:
      - pathType: Prefix
        path: "/"
        backend:
          service:
            name: {{ env.ingress_backend|default("lhc-install-stag", true) }}
            port: 
              number: 8080
