## Environment
env: {{ environment|default("dev", true)}}
kind: {{ controllerkind|default("deployment", true)}}
ns:  {{ namespace1|default("lhc-install-dev", true)}}
nginx_config: {{ nginx_config|default("lhc-install-nginx-config", true)}}
stgclass: lhc-install-nfs-csi
replicas: {{ replicas|default("3", true) }}
 
# For service lhc-install-app
svcport_lhc_app: {{ lhcsvcport|default("8080", true) }}
tgport_lhc_app: {{ lhctgport|default("80", true) }}

# For service php
svcport_php: {{ phpsvcport|default("9000", true) }}
tgport_php: {{ phptgport|default("9000", true) }}

# For service nodejs helper
svcport_nodejshp: {{ nodejssvcport|default("8000", true) }}
tgport_nodejshp: {{ nodejstgport|default("3000", true) }}

# For service cobrowser
svcport_cobrowser: {{ cobrsvcport|default("31130", true) }}
tgport_cobrowser: {{ cobrtgport|default("31130", true) }}
# For service mysql 

svcport_db: {{ dbsvcporttgport|default("3306", true) }}
tgport_db: {{ dbtgport|default("3306", true) }}

# For service PHP resque
svcport_phpresque: {{ php_resquesvcporttgport|default("31082", true) }}
tgport_phpresque: {{ php_resquetgport|default("9000", true) }}

# For service redis
svcport_redis: {{ redissvcporttgport|default("30379", true) }}
tgport_redis: {{ redistgport|default("6379", true) }}

# For volume
pvclhcvolume: {{ pvclhcvolume|default("lhc-install-volume", true) }}
pvcnginxconfig: {{ pvcnginxconfig|default("lhc-install-nginx-config", true) }}
pvccode: {{ pvccode|default("lhc-install-code-volume", true) }}
pvcdatabase: {{ pvcdatabase|default("lhc-install-db-volume", true) }}
pvcphp: {{ pvcphp|default("lhc-install-php-volume", true) }}
pvcnginx: {{ pvcnginx|default("lhc-install-nginx-volume", true) }}

capacitylhc: {{ capacitylhc|default("600Mi", true)}}
capacity_db: {{ capacity_db|default("1Gi", true)}}
capacity_code: {{ capacity_db|default("1Gi", true)}}
capacity_nginx: {{ capacity_nginx|default("300Mi", true)}}

# For database
dbenv: {{ dbenv|default("MYSQL_ROOT_PASSWORD", true)}}              
secretname: {{ secretname|default("lhc-install-secret-db", true)}}
dbconfig: {{ dbconfig|default("MYSQL_DATABASE", true)}}
cfmname: {{ cfmname|default("lhc-install-db-config", true)}} 
secret_tls_name: {{ secret_tls_name|default("lhc-install-secret-tls", true) }}
hpa:
  enabled: {{ hpaenable|default("false", true)}}

## For resources:
resources_lhc:
  limits:
    memory: {{ resources_lhclimitsmemory|default("200Mi", true)}}
    cpu: {{ resources_lhclimitscpu|default("150m", true)}}
  requests:
    memory: {{ resources_lhcrequestsmemory|default("200Mi", true)}}
    cpu: {{ resources_lhcrequestscpu|default("100m", true)}}
resources_node:
  limits:
    memory: {{ resources_nodelimitsmemory|default("200Mi", true)}}
    cpu: {{ resources_nodelimitscpu|default("200m", true)}}
  requests:
    memory: {{ resources_noderequestsmemory|default("150Mi", true)}}
    cpu: {{ resources_noderequestscpu|default("150m", true)}}
resources_db:
  limits:
    memory: {{ resources_dblimitsmemory|default("300Mi", true)}}
    cpu: {{ resources_dblimitscpu|default("150m", true)}}
  requests:
    memory: {{ resources_dbrequestsmemory|default("200Mi", true)}}
    cpu: {{ resources_dbrequestscpu|default("150m", true)}}
resources_other:
  limits:
    memory: {{ resources_otherlimitsmemory|default("200Mi", true)}}
    cpu: {{ resources_otherlimitscpu|default("150m", true)}}
  requests:
    memory: {{ resources_otherrequestsmemory|default("200Mi", true)}}
    cpu: {{ resources_otherrequestscpu|default("150m", true)}}


