apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{nginx.ingressname|default("nginx-app-install-ingress", true) }}
  labels:
    name: {{nginx.ingresslabelname|default("nginx-app-install-ingress", true) }}
    namespace: {{nginx.namespace|default("nginx-app-install-prod", true) }}
spec:
  ingressClassName: nginx
  tls:
    - hosts:
      - pshung.tk
      secretName: {{nginx.secret_tls_name|default("nginx-app-install-secret-tls", true) }}
  rules:
  - host: pshung.tk
    http:
      paths:
      - pathType: Prefix
        path: "/"
        backend:
          service:
            name: {{nginx.ingress_backend|default("nginx-app-install-prod", true) }}
            port: 
              number: 8880
